*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-body: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --color-text: #333;

  color: var(--color-text);
  font-family: var(--font-body);
}

body {
  background-color: #d2e3c8;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

pre,
code {
  font-family: "Fira Mono", monospace;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
